# Base style
BasedOnStyle: LLVM

# Basic indentation settings
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
IndentPPDirectives: BeforeHash

# Braces and wrapping
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false

# Column limits
ColumnLimit: 300

# Blank lines
MaxEmptyLinesToKeep: 1

# Alignment rules
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true

# Include sorting
SortIncludes: true

# Objective-C specific rules
Language: ObjC
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCBracesOnNextLine: false
ObjCBlockLiteralsAsStructs: false
IndentCaseLabels: false
