--indent 4
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen same-line
--allman false
--semicolons never
--trimwhitespace always
--stripunusedargs closure-only
--self remove
--importgrouping testable-last
--commas inline
--linebreaks lf
--ifdef no-indent
--disable wrapMultilineStatementBraces
